.label {
	margin-top: 20px;
}

.input {
	max-width: 150px;
	width: 100%;

	padding-right: 7px;
	padding-left: 7px;

	margin-right: 25px;

	background: none;

	border: 1px solid #000000;

	line-height: 20px;
}

.title {
	margin-bottom: 15px;

	padding-left: 15px;

	font-family: sans-serif;
	font-size: 14px;
}
